
.info-image {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 15px; 
}
 
@media (max-width: 450px) {
  .form-container{
    margin-left: 0px;
  }
}

  mat-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 20px green;
    border-radius: 8px;
    border-color: green;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  mat-form-field {
    width: 100%;
  }
  
  input mat-input-element {
    padding: 10px;
  }
  
  error-message {
    color: red;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
  }
  
  .custom-signin {
    width: 100%;
    background-color: #4CAF50; 
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-signin span{
    color: black;
  }

  .custom-signin:hover {
    background-color: #45a049; 
    transform: translateY(-2px);
  }
  .custom-signin span:hover{
    color: white;
  }

  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    text-align: left;
    margin-top: 10px;
  }

  .signup-prompt {
    text-align: center;
    margin-top: 20px;
  }
 
  
  
  a {
    color: #3f51b5; /* Primary color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 500px) {
    mat-card {
      margin: 20px;
      padding: 15px;
    }
    .custom-signin span{
      color:  black;
    }
    .custom-signin{
      color: #45a049;
    }
  }