footer {
  background-color: #f1f1f1; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Microsoft JhengHei;
  font-size: 14px;
  color: #666;
  padding: 10px 20px;
}