
  .form-card {
    max-width: 900px; 
    margin: 2rem auto; 
    overflow: hidden; 
    box-shadow: 0 4px 20px green;
    border-radius: 8px;
    border-color: green;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.5); 
}

.title {
    text-align: center; 
    margin: 15px 10px;  
    font-size: 24px;
    color: yellow;
    background-color: #569b58;
    margin-bottom: 15px;
    border-radius: 4px;
}
mat-card-content {
    padding: 16px; 
    border: 1px solid;
    border-radius: 1rem;
    border-color: green;
    padding: 16px; 
    background-color: rgba(255, 255, 255, 0.4); 
}

mat-card {
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    padding: 10px;
   
}
.form-card {
    max-width: 900px; 
    margin: 1rem auto;
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.title {
    text-align: center; 
    font-size: 1.5rem; 
    padding: 16px 0; 
}

.form-row {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px; 
    width: 100%; 
}

.mat-form-field {
    min-width: 280px;
    margin: 0; 
}

.mat-form-field:first-child {
    margin-left: 0; 
}

.mat-form-field:last-child {
    margin-right: 0; 
}

button {
    width: 40%; 
    margin-top: 5px;
}

.mat-error {
    font-size: 0.875rem; 
    color: red; 
}

.error-message{
    color: red;
}
.mat-hint {
    font-size: 0.875rem; 
    color: gray; 
}


@media (max-width: 450px) {
    .banner {
      flex-direction: column;  
    }
  
    .info-image {
      max-width: 150px;  
    }
  }
  
  @media (max-width: 450px) {
    
    .form-container{
      margin-left: 0px;
    }
  }
  

@media (max-width: 700px) {
    .form-card {
        max-width: 95%;
        margin: 1rem auto;
    }
    
    .form-row {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .mat-form-field {
        margin: 0 0 10px 0; 
        min-width: 100%;
    }

    .mat-form-field:last-child {
        margin-bottom: 0; 
    }
}

@media (min-width: 1200px) {
    .form-row {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}