

.info-image {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 15px; 
}


.form-container {
  display: flex; 
  margin: 20px auto;
  gap: 30px;
  margin-left: 200px;
}


.form-card {
  /*background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 8px; 
  border: 1px solid;
  border-color: #439347;
  padding: 15px; 
  margin: 0px 30px; 
  width: 100%;
  max-width: 450px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  
}
.info-card {
 /* background-color: rgba(255, 255, 255, 0.8); */ 
  border-radius: 8px;  
  border: 1px solid;
  border-color: #439347;
  padding: 15px;  
  margin: 0 5px;  
  width: 45%;  
  max-width: 500px;  
 /*  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.info-image{
  width: 20%; 
  height: auto;  
  margin-left: 50px;
}

.info-card h3 {
  margin-top: 15px;  
}
.info-content {
  display: flex;  
  flex-wrap: wrap;
}
/* Media queries */
@media (max-width: 450px) {
  .form-container {
    flex-direction: column;  
    align-items: center;  
  }

  .form-card,
  .info-card {
    width: 80%;  
    margin: 10px 0;  
  }
}
@media (max-width: 1024px) {
  .form-container {
    flex-direction: column;  
    align-items: center;  
  }

  .form-card,
  .info-card {
    width: 90%;  
    margin: 10px 0;  
  }

  .info-content {
    flex-direction: column;  
    align-items: center;  
    text-align: center;  
  }

  .info-image {
    width: 40%;  
    max-width: 50px;  
    margin: 0 10px 10px 0;  
  }

  .text-content {
    width: 100%;  
  }
}

@media (max-width: 450px) {
  .banner {
    flex-direction: column;  
  }

  .info-image {
    max-width: 150px;  
  }
}

@media (max-width: 450px) {
  .form-container{
    margin-left: 0px;
  }
}

mat-card-content{
    border: 1px solid;
    border-radius: 1rem;
    border-color: green;
}
mat-card-title{
    text-align: center;
    margin: 15px 10px;  
    font-size: 24px;
    color: yellow;
    background-color: #569b58;
  /*padding-bottom: 20px;*/
    margin-bottom: 15px;
    border-radius: 5px;
}
mat-card-title title{
  margin-bottom:  10px;
}
mat-card {
    max-width: 600px; 
    margin: 10px auto; 
    padding: 20px; 
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  .title {
    text-align: center; 
    margin-bottom: 20px; 
  }
  mat-form-field {
    width: 100%; 
    margin-bottom: 16px; 
  }
  button {
    display: block; 
    width: 40%; 
    margin-top: 10px; 
    font-size: 20px;
  }
  mat-radio-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 16px; 
  }
  mat-radio-button {
    margin-bottom: 6px; 
  }
 

