.about-container {
  padding: 20px; 
  font-family: Microsoft JhengHei; 
  color: #333;
  border: green 2px solid;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(91, 222, 91, 0.614);
  margin: 20px 10px;
}

h1, h2 {
  color: green;
  font-size: 18px; 
}

ul {
  margin: 15px 0; 
  padding-left: 20px; 
}

.contact-info {
  text-align: center; 
  margin-top: 20px; 
}

.contact-image {
  width: 250px; 
  height: auto; 
  border-radius: 20%; 
  margin: 0;
}

.contact-details {
  font-family: Microsoft JhengHei;
  color: #333;
  margin: 0;
}