.container {
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
  }

  mat-card-title{
    font-size: 18px;
    color: green;
  }
  .project-details {
    list-style-type: none; 
    padding: 0;
  }
  
  .project-details li {
    margin: 10px 0; 
    font-size: 16px; 
  }
  
  .close-button {
    width: 50%;
    height: 30px;
    border: none;
    margin-top: 20px;
    background-color: #4caf50; 
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #14ea1f; 
    font-weight: bold;
  }