<div class="container">
  <div class="form-container" *ngIf="userRole===UserType.SchoolAdmin">
    <mat-card class="form-card">
      <mat-card-title>PPA (Programs, Project, Activities) Information</mat-card-title>
      <mat-card-content>
        <form [formGroup]="aipForm" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="fill">
            <mat-label>School Year for the Project</mat-label>
            <input matInput formControlName="schoolYear" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enter Project Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="aipForm.get('title')?.invalid && (aipForm.get('title')?.touched || aipForm.get('title')?.dirty)">
              Project Title is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Objectives of the Project<br> (max 500 words)</mat-label>
            <textarea matInput formControlName="objectives" rows="5"></textarea>
            <mat-error *ngIf="aipForm.get('objectives')?.invalid && (aipForm.get('objectives')?.touched || aipForm.get('objectives')?.dirty)">
              Objectives are required and must be less than 500 words.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Intermediate Outcome (Pillars)</mat-label>
            <mat-select formControlName="intermediateOutcome">
              <mat-option *ngFor="let pillar of pillars" [value]="pillar">{{ pillar }}</mat-option>
            </mat-select>
            <mat-error *ngIf="aipForm.get('intermediateOutcome')?.invalid && (aipForm.get('intermediateOutcome')?.touched || aipForm.get('intermediateOutcome')?.dirty)">
              Please select an intermediate outcome pillar.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Persons Responsible</mat-label>
            <input matInput formControlName="responsiblePerson">
            <mat-error *ngIf="aipForm.get('responsiblePerson')?.invalid && (aipForm.get('responsiblePerson')?.touched || aipForm.get('personsResponsible')?.dirty)">
              This field is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Materials Needed</mat-label>
            <input matInput formControlName="materialsNeeded">
            <mat-error *ngIf="aipForm.get('materialsNeeded')?.invalid && (aipForm.get('materialsNeeded')?.touched || aipForm.get('materialsNeeded')?.dirty)">
              This field is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Total Budget</mat-label>
            <input matInput formControlName="totalBudget" type="number">
            <mat-error *ngIf="aipForm.get('totalBudget')?.invalid && (aipForm.get('totalBudget')?.touched || aipForm.get('totalBudget')?.dirty)">
              Please enter a valid budget amount.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Budget Source</mat-label>
            <input matInput formControlName="budgetSource">
            <mat-error *ngIf="aipForm.get('budgetSource')?.invalid && (aipForm.get('budgetSource')?.touched || aipForm.get('budgetSource')?.dirty)">
              This field is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
            </mat-select>
            <mat-error *ngIf="aipForm.get('status')?.invalid && (aipForm.get('status')?.touched || aipForm.get('status')?.dirty)">
              Please select a status.
            </mat-error>
          </mat-form-field>

          <button mat-raised-button  color="primary" (click)="onSubmit()" type="button" class="submit-button">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="table-container">
    <mat-card class="table-card">
      <mat-card-title>List of Programs, Projects & Activities</mat-card-title>
      <mat-card-content>
        <div class="table-wrapper">
          <div class="table-scroll">
            <div *ngIf="isLoading" class="loading-container">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              <p>Loading AIP projects...</p>
            </div>

            <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <thead>
                <tr>
                  <th *ngFor="let column of displayedColumns">{{ column | titlecase }}</th>
                </tr>
              </thead>
              <!-- APN Column -->
              <ng-container matColumnDef="apn">
                <mat-header-cell *matHeaderCellDef> APN </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{ project.apn }} </mat-cell>
              </ng-container>
              <!-- Project Title Column -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Project Title </mat-header-cell>
                <mat-cell *matCellDef="let project">
                  <div
                    class="cell-wrapper"
                    [matTooltip]="project.title"
                    matTooltipPosition="above"
                    matTooltipShowDelay="200"
                  >
                    {{ project.title }}
                  </div>
                </mat-cell>
              </ng-container>
              <!-- Budget Column -->
              <ng-container matColumnDef="totalBudget">
                <mat-header-cell *matHeaderCellDef> Budget </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{ project.totalBudget | currency: 'PHP' }} </mat-cell>
              </ng-container>
              <!-- School Year Column -->
              <ng-container matColumnDef="schoolYear">
                <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{ project.schoolYear }} </mat-cell>
              </ng-container>
              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{ project.status }} </mat-cell>
              </ng-container>
              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let project">
                  <button mat-icon-button (click)="viewProject(project)" matTooltip="View the project details">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button
                          [disabled]="userRole !== UserType.SchoolAdmin"
                          (click)="editProject(project)"
                          [matTooltip]="userRole === UserType.SchoolAdmin ? 'Edit this project' : 'Only School Admins can edit'">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button
                          class="delete-button"
                          [disabled]="userRole !== UserType.SchoolAdmin"
                          (click)="deleteProject(project)"
                          [matTooltip]="userRole === UserType.SchoolAdmin ? 'Delete this project' : 'Only School Admins can delete'">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>

            </table>
            <mat-paginator *ngIf="!isLoading" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25]"
                           (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
