.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f6f88a; 
  padding: 20px; 
}

.form-container {
  flex: 1; 
  margin-right: 20px; 
  margin: 16px; 
  border: 1px solid;
  border-radius: 5px;
  border-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container {
  flex: 2; 
  width: 100%;
  overflow: hidden;
  margin: 16px 0; 
  border: 1px solid;
  border-radius: 5px;
  border-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-field {
  width: 100%; 
}

.table-scroll {
  overflow-x: auto; 
  margin-top: 16px; 
}

.form-card, .table-card {
  width: 100%; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.889));
}

mat-form-field {
  margin-left: 10px; 
}

mat-icon {
  color: #45a049;
}

mat-header-cell, .mat-cell {
  padding: 7px; 
  text-align: left; 
}
mat-tooltip {
  z-index: 1000; 
}

.submit-button {
  background-color: #4CAF50; 
  color: white; 
  font-weight: bold; 
  text-transform: uppercase; 
  border-radius: 5px;
  padding: 10px 20px; 
  margin-left: 20px; 
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.submit-button:hover {
  background-color: #45a049; 
  transform: translateY(-2px); 
}

mat-card-title {
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 20px;
  color: #45a049;
}


@media (max-width: 768px) { 
  .container {
    flex-direction: column; 
  }
  .mat-action-buttons {
    flex-direction: column;       
    align-items: stretch;          
  }
  .mat-action-buttons button {
    width: 100%;                  
    margin-bottom: 6px;          
  }

  .form-container, .table-container {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 15px; 
  }
  .form-field {
    width: 150%; 
  }

 mat-header-cell, mat-cell {
    font-size: 14px; 
    padding: 6px; 
  }

  .submit-button {
    width: 100%;
    margin-left: 0; 
    margin-top: 10px; 
  }
  mat-table {
    min-width: 900px; /* Adjust as necessary for mobile */
  }
}
@media (max-width: 768px) {
  .mat-action-buttons {
    flex-direction: column;                    
    align-items: stretch;                       
    overflow-x: auto;                          
  }

  .mat-action-buttons button {
    width: 100%;                             
    margin-bottom: 8px;                       
  }
  .form-field {
    width: 150%; 
  }
}

.table-scroll {
  overflow-x: auto; 
  margin-top: 16px; 
  color: #45a049;
}
mat-table {
  min-width: 900px; 
  width: 100%; 
}

.mat-action-buttons {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.mat-action-buttons button {
  flex: 1;                                    
  min-width: 80px;                           
  margin: 0;                                
  padding: 4px;                               
  font-size: 10px;                            
}
.delete-button {
  color: red !important; 
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.67); 
}
.hover-row {
  transition: background-color 0.3s ease;
}

.hover-row:hover {
  background-color:rgba(128, 128, 128, 0.382);
   color: white;
}
