<div class="container">
  <div class="header" *ngIf="schoolName">
    <mat-icon class="school-icon">school</mat-icon>
    <span class="school-name">{{ schoolName | uppercase }}</span>
  </div>

  <div class="content-wrapper">
    <div class="form-container">
    <mat-card-title>Enter School Needs</mat-card-title>
    <form [formGroup]="schoolNeedsForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Contribution Type</mat-label>
        <input matInput
               #contributionTypeInput
               formControlName="contributionType"
               [matAutocomplete]="contributionTypeAuto"
               (input)="filterContributionTypes(contributionTypeInput.value); onContributionTypeInput(contributionTypeInput.value)">
        <mat-autocomplete #contributionTypeAuto="matAutocomplete" (optionSelected)="onContributionTypeChange($event.option.value)">
          <mat-option *ngFor="let option of filteredContributionTypes" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="schoolNeedsForm.get('contributionType')?.invalid && schoolNeedsForm.get('contributionType')?.touched">
          Contribution Type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Specific Contribution</mat-label>
        <input matInput
               #specificContributionInput
               formControlName="specificContribution"
               [matAutocomplete]="specificContributionAuto"
               (input)="filterSpecificContributions(specificContributionInput.value)">
        <mat-autocomplete #specificContributionAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredSpecificContributions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="schoolNeedsForm.get('specificContribution')?.invalid && schoolNeedsForm.get('specificContribution')?.touched">
          Specific Contribution is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>School Year for the Project</mat-label>
        <input matInput formControlName="schoolYear" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select PPA Name</mat-label>
        <mat-select formControlName="ppaName">
          <mat-option *ngFor="let project of projectsData" [value]="project._id">{{ project.title }}</mat-option>
        </mat-select>
        <mat-error *ngIf="schoolNeedsForm.get('projectName')?.invalid && schoolNeedsForm.get('projectName')?.touched">
          PPA Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Intermediate Outcome (Pillars)</mat-label>
        <mat-select formControlName="intermediateOutcome">
          <mat-option *ngFor="let pillar of pillars" [value]="pillar">{{ pillar }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quantity Needed</mat-label>
        <input matInput formControlName="quantityNeeded" type="number">
        <mat-error *ngIf="schoolNeedsForm.get('quantityNeeded')?.invalid && schoolNeedsForm.get('quantityNeeded')?.touched">
          <span *ngIf="schoolNeedsForm.get('quantityNeeded')?.errors?.['required']">Quantity is required</span>
          <span *ngIf="schoolNeedsForm.get('quantityNeeded')?.errors?.['min']">Quantity must be at least 1</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unit (Box, pieces, sack, roll etc.)</mat-label>
        <mat-select formControlName="unit">
          <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
        </mat-select>
        <mat-error *ngIf="schoolNeedsForm.get('unit')?.invalid && schoolNeedsForm.get('unit')?.touched">
          Unit is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Estimated Cost(<span style="color: red;"> don't put comma,peso sign or letters</span>)</mat-label>
        <input matInput formControlName="estimatedCost" type="number">
        <mat-error *ngIf="schoolNeedsForm.get('estimatedCost')?.invalid && schoolNeedsForm.get('estimatedCost')?.touched">
          <span *ngIf="schoolNeedsForm.get('estimatedCost')?.errors?.['required']">Estimated Cost is required</span>
          <span *ngIf="schoolNeedsForm.get('estimatedCost')?.errors?.['min']">Estimated Cost must be 0 or greater</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. of Beneficiary Students</mat-label>
        <input matInput formControlName="beneficiaryStudents" type="number" min="0">
        <mat-error *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.invalid && schoolNeedsForm.get('beneficiaryStudents')?.touched">
          <span *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.errors?.['required']">Number of Beneficiary Students is required</span>
          <span *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.errors?.['min']">Number must be 0 or greater</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. of Beneficiary Personnel</mat-label>
        <input matInput formControlName="beneficiaryPersonnel" type="number">
        <mat-error *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.invalid && schoolNeedsForm.get('beneficiaryPersonnel')?.touched">
          <span *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.errors?.['required']">Number of Beneficiary Personnel is required</span>
          <span *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.errors?.['min']">Number must be 0 or greater</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Target Date of Implementation</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="targetDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="schoolNeedsForm.get('targetDate')?.invalid && schoolNeedsForm.get('targetDate')?.touched">
          Target Date is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>PPA Description/Information</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="schoolNeedsForm.get('description')?.invalid && schoolNeedsForm.get('description')?.touched">
          PPA Description/Information must not exceed 2000 characters
        </mat-error>
      </mat-form-field>


      <div class="save-section">
        <mat-progress-bar *ngIf="isSaving" mode="indeterminate" class="save-progress-bar"></mat-progress-bar>
        <button mat-raised-button type="button" (click)="onSubmit()" [disabled]="isSaving">
          <mat-icon>save</mat-icon> {{ isSaving ? 'SAVING...' : 'SAVE' }}
        </button>
      </div>
    </form>
  </div>

  <div class="table-container">
    <mat-card-title>List of School Needs</mat-card-title>
    <div class="query-section">
      <mat-form-field appearance="fill">
        <mat-label>Select School Year</mat-label>
        <mat-select [(value)]="selectedSchoolYear">
          <mat-option *ngFor="let year of schoolYears" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="query-button" (click)="queryData()">View Records</button>
    </div>
    <div class="table-scroll">
      <div *ngIf="isLoading" class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Loading school needs...</p>
      </div>

      <table *ngIf="!isLoading" mat-table [dataSource]="schoolNeedsData" class="mat-elevation-z8">
        <ng-container matColumnDef="contributionType">
          <th mat-header-cell *matHeaderCellDef> Contribution Type </th>
          <td mat-cell *matCellDef="let need"> {{ need.contributionType }} </td>
        </ng-container>

        <ng-container matColumnDef="specificContribution">
          <th mat-header-cell *matHeaderCellDef> Specific Contribution </th>
          <td mat-cell *matCellDef="let need"> {{ need.specificContribution }} </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef> Project Name </th>
          <td mat-cell *matCellDef="let need"> {{ need.projectName }} </td>
        </ng-container>

        <ng-container matColumnDef="quantityNeeded">
          <th mat-header-cell *matHeaderCellDef class="quantity-column"> Quantity </th>
          <td mat-cell *matCellDef="let need" class="quantity-column"> {{ need.quantity }} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="unit-column"> Unit </th>
          <td mat-cell *matCellDef="let need" class="unit-column"> {{ need.unit }} </td>
        </ng-container>

        <ng-container matColumnDef="estimatedCost">
          <th mat-header-cell *matHeaderCellDef class="cost-column"> Estimated Cost </th>
          <td mat-cell *matCellDef="let need" class="cost-column"> {{ need.estimatedCost | currency: 'PHP' }} </td>
        </ng-container>

        <ng-container matColumnDef="targetDate">
          <th mat-header-cell *matHeaderCellDef class="date-column"> Target Date </th>
          <td mat-cell *matCellDef="let need" class="date-column"> {{ need.targetDate | date:'shortDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="thumbnails">
          <th mat-header-cell *matHeaderCellDef class="thumbnails-column"></th>
          <td mat-cell *matCellDef="let need" class="thumbnails-column">
            <div class="thumbnail-container">
              <img *ngFor="let image of getThumbnailImages(need)"
                   [src]="image.thumbnailUrl"
                   [alt]="need.description"
                   class="thumbnail-image"
                   (error)="onImageError($event)">
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-column"> Actions </th>
          <td mat-cell *matCellDef="let need" class="actions-column">
            <div class="button-group">
              <button mat-button (click)="viewResponses(need)" [disabled]="true">Responses</button>
              <button mat-button (click)="editNeed(need)">Edit</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      <mat-paginator *ngIf="!isLoading" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25]"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
  </div>
</div>
