<div class="container">
  <div class="header" *ngIf="schoolName">
    <mat-icon class="school-icon">school</mat-icon>
    <span class="school-name">{{ schoolName | uppercase }}</span>
  </div>
  
  <div class="content-wrapper">
    <div class="form-container">
    <mat-card-title>Enter School Needs</mat-card-title>
    <form [formGroup]="schoolNeedsForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Contribution Type</mat-label>
        <input matInput 
               #contributionTypeInput
               formControlName="contributionType" 
               [matAutocomplete]="contributionTypeAuto"
               (input)="filterContributionTypes(contributionTypeInput.value); onContributionTypeInput(contributionTypeInput.value)">
        <mat-autocomplete #contributionTypeAuto="matAutocomplete" (optionSelected)="onContributionTypeChange($event.option.value)">
          <mat-option *ngFor="let option of filteredContributionTypes" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Specific Contribution</mat-label>
        <input matInput 
               #specificContributionInput
               formControlName="specificContribution" 
               [matAutocomplete]="specificContributionAuto"
               (input)="filterSpecificContributions(specificContributionInput.value)">
        <mat-autocomplete #specificContributionAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredSpecificContributions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>School Year for the Project</mat-label>
        <input matInput formControlName="schoolYear" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select Project Name</mat-label>
        <mat-select formControlName="projectName">
          <mat-option *ngFor="let project of projectsData" [value]="project._id">{{ project.title }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Intermediate Outcome (Pillars)</mat-label>
        <mat-select formControlName="intermediateOutcome">
          <mat-option *ngFor="let pillar of pillars" [value]="pillar">{{ pillar }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quantity Needed</mat-label>
        <input matInput formControlName="quantityNeeded" type="number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unit (Box, pieces, sack, roll etc.)</mat-label>
        <mat-select formControlName="unit" (selectionChange)="onUnitChange($event.value)">
          <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="isOtherSelected">
        <mat-form-field appearance="fill">
          <mat-label>Please specify unit</mat-label>
          <input matInput formControlName="otherUnit" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Estimated Cost(<span style="color: red;"> don't put comma,peso sign or letters</span>)</mat-label>
        <input matInput formControlName="estimatedCost" type="number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. of Beneficiary Students</mat-label>
        <input matInput formControlName="beneficiaryStudents" type="number" min="0">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. of Beneficiary Personnel</mat-label>
        <input matInput formControlName="beneficiaryPersonnel" type="number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Target Date of Implementation</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="targetDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description / Other Info</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>


      <div class="file-upload">
        <button mat-raised-button type="button" (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
          Attach Image
        </button>
        <input #fileInput type="file" accept="image/*" multiple (change)="onFileSelected($event)" hidden />
      </div>

      <div class="preview-container">
        <div *ngFor="let img of previewImages; let i = index" class="preview-box">
          <img [src]="img.dataUrl" alt="remove" />
          <button mat-icon-button (click)="removeImage(i)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-progress-bar *ngIf="img.uploading" mode="determinate" [value]="img.progress"></mat-progress-bar>
        </div>
      </div>
      <button mat-raised-button type="button" (click)="onSubmit()">
        <mat-icon>save</mat-icon> SAVE
      </button>
    </form>
  </div>

  <div class="table-container">
    <mat-card-title>List of School Needs</mat-card-title>
    <div class="query-section">
      <mat-form-field appearance="fill">
        <mat-label>Select School Year</mat-label>
        <mat-select [(value)]="selectedSchoolYear">
          <mat-option *ngFor="let year of schoolYears" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="query-button" (click)="queryData()">View Records</button>
    </div>
    <div class="table-scroll">
      <table mat-table [dataSource]="schoolNeedsData" class="mat-elevation-z8">
        <ng-container matColumnDef="contributionType">
          <th mat-header-cell *matHeaderCellDef> Contribution Type </th>
          <td mat-cell *matCellDef="let need"> {{ need.contributionType }} </td>
        </ng-container>

        <ng-container matColumnDef="specificContribution">
          <th mat-header-cell *matHeaderCellDef> Specific Contribution </th>
          <td mat-cell *matCellDef="let need"> {{ need.specificContribution }} </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef> Project Name </th>
          <td mat-cell *matCellDef="let need"> {{ need.projectName }} </td>
        </ng-container>

        <ng-container matColumnDef="quantityNeeded">
          <th mat-header-cell *matHeaderCellDef> Quantity Needed </th>
          <td mat-cell *matCellDef="let need"> {{ need.quantityNeeded }} </td>
        </ng-container>

        <ng-container matColumnDef="estimatedCost">
          <th mat-header-cell *matHeaderCellDef> Estimated Cost </th>
          <td mat-cell *matCellDef="let need"> {{ need.estimatedCost | currency: 'PHP' }} </td>
        </ng-container>

        <ng-container matColumnDef="targetDate">
          <th mat-header-cell *matHeaderCellDef> Target Date </th>
          <td mat-cell *matCellDef="let need"> {{ need.targetDate | date:'shortDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let need">
            <div class="button-group">
              <button mat-button (click)="viewResponses(need)">Responses</button>
              <button mat-button (click)="editNeed(need)">Edit</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </div>
  </div>
</div>
