.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.school-info-card,
.description-card {
  flex: 1;
  margin: 10px;
  min-width: 400px;
  border: 2px solid #4caf50;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 6px 8px 8px rgba(30, 227, 15, 0.889);
}

.binding {
  margin-left: 20px;
}

.mat-progress-bar {
  margin: 20px 10px;
}

.custom-progress-bar {
  height: 30px;
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0; 
}

.custom-progress-bar .mat-progress-bar-fill {
  background-color: #4caf50;
  border-radius: 15px;
}

.progress-container {
  position: relative;
  margin: 20px 0;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bold;
}

.description-title {
  position: relative;
  display: inline-block;
  font-size: 24px; 
  margin-bottom: 20px; 
}

.description-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px; 
  width: 100%;
  background-color: green; 
  animation: slide 3s infinite; 
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

.table-container {
  margin: 20px 0;
}

.mat-progress-bar-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.project-description {
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

h3 {
  margin: 50px 0;
}

mat-card-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2e7d32;
}

@media (max-width: 568px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .school-info-card,
  .description-card {
    max-width: 90%; 
    margin: 10px 0;
    max-height: 400px; 
  }

  .mat-card-title {
    font-size: 0.8em; 
  }

  .mat-card-content {
    padding: 10px;
  }

  .mat-progress-bar-title,
  .project-description {
    text-align: center;
  }

  .binding {
    margin-left: 5px; 
    display: inline-block;
  }
}