.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px; 
  padding: 25px;
  margin: 0 auto; 
}

mat-card {
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px green;
  border-radius: 8px;
  border-color: green;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.5); 
}

.engage-card, .implementation-card {
  padding: 16px;
}

mat-form-field {
  width: 100%; 
}
p{
  color:#4CAF50;
}

mat-card-title {
  color: green;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50; 
  color: rgb(198, 212, 72);
  font-weight: bold; 
  text-transform: uppercase; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px; 
  margin-left: 20px; 
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

button:hover {
  background-color: #235526; 
  color: white;
  transform: translateY(-2px); 
}



@media (max-width: 960px) {
  .container {
    width: 90%; 
    padding: 15px; 
  }

  mat-card {
    margin: 5px; 
    padding: 15px; 
  }

  button {
    margin-left: 0; 
    width: 50%; 
    padding: 12px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%; 
    padding: 10px; 
  }

  mat-card {
    margin: 5px;
    padding: 10px;
  }

  button {
    width: 50%; 
    padding: 10px;
  }
}