mat-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px green;
  border-radius: 8px;
  border: 1px solid green;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-card-title {
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 20px;
  color: #45a049;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.table-container {
  overflow-x: auto;
  margin: 10px 0;
  min-width: 950px;
  border-radius: 8px;
  overflow: hidden;
}

.table-scroll {
  overflow-x: auto;
  margin-top: 15px;
  background-color: green;
  border-radius: 6px;
  padding: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  padding: 16px;
  text-align: left;
  border: 1px solid #ddd;
}

.mat-header-cell {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.total-row {
  font-weight: bold;
  background-color: #f4f4f4;
}

.total-row:hover {
  background-color: #e0e0e0;
}

.loading-container {
  text-align: center;
  padding: 40px;
}

.loading-container p {
  margin-top: 16px;
  color: #666;
}

@media (max-width: 1024px) {
  mat-card {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
  }

  mat-card-title {
    font-size: 18px;
  }

  .table-container {
    margin: 5px 0;
    min-width: 800px;
  }

  .mat-header-cell, .mat-cell {
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  mat-card {
    width: 100%;
    margin: 5px;
    padding: 10px;
  }

  mat-card-title {
    font-size: 16px;
  }

  .table-scroll {
    margin: 5px 0;
  }

  .table-container {
    min-width: 800px;
  }

  .mat-header-cell, .mat-cell {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 435px) {
  .table-scroll {
    margin: 5px 0;
  }

  .table-container {
    min-width: 950px;
  }

  .mat-header-cell, .mat-cell {
    font-size: 12px;
    padding: 8px;
  }
}

