mat-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px green;
  border-radius: 8px;
  border-color: green;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.5); 
}

mat-card-title {
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 20px;
  color: #45a049;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.school-icon {
  font-size: 30px; 
  margin: 0;
  padding: 30px 30px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-left: 20px;
}

span {
  font-weight: bold;
  font-size: 20px;
  color: #45a049;
  padding: 0;
  margin-left: 5px;
  margin-top: 22px;
}

.download-button {
  margin-left: auto; 
  margin-right: 25px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #45a049;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.download-button:hover {
  background-color: #45a049; 
  transform: translateY(-2px); 
  color: white;
}

.table-container {
  overflow-x: auto; 
  margin: 10px 0; 
}

table {
  width: 100%;
  border-collapse: collapse; 
}

.mat-header-cell, .mat-cell {
  padding: 16px;
  text-align: left;
  border: 1px solid #ddd; 
}

tr:hover {
  background-color: #e4a0a089;
  color: white;
}

mat-icon {
  color: #45a049;
  cursor: pointer;
}

mat-icon-button {
  justify-content: space-between;
}

.ellipsis-button {
  margin-left: 10px; 
}

td.mat-cell button {
  margin-right: 5px; 
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

.mat-menu-item mat-icon {
  margin-right: 8px; 
}

@media (max-width: 1024px) {
  mat-card {
    width: 95%; 
    margin: 10px auto; 
    padding: 15px; 
  }

  mat-card-title {
    font-size: 18px; 
  }

  .download-button {
    margin-right: 15px; 
    padding: 8px; 
  }

  .header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .school-icon {
    font-size: 30px; 
    margin-bottom: 0;
    margin-top: 0;
  }
  
  span {
    font-size: 18px; 
    margin-left: 70px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  mat-card {
    width: 100%; 
    margin: 5px; 
    padding: 10px; 
  }

  mat-card-title {
    font-size: 16px; 
  }

  .school-icon {
    font-size: 24px; 
    padding: 20px; 
    margin: 0;
  }

  .download-button {
    width: 100%; 
    margin: 10px 0; 
  }

  span {
    font-size: 18px; 
    margin-left: 70px;
    margin-top: 0;
  }
  
  span.school-name {
    font-size: 18px; 
  }

  .header {
    flex-direction: column; 
    align-items: flex-start; 
  }
}