<div class="header">
  <mat-icon class="school-icon">school</mat-icon>
  <span class="school-name">{{ this.schoolName | uppercase }}</span>
  <button mat-raised-button color="primary" class="download-button" [disabled]="true">Download School Profile</button>
</div>

<mat-card>
  <mat-card-title class="title">Schools' Needs</mat-card-title>
  <div class="table-scroll">
    <div class="table-container">
      <div *ngIf="isLoading" class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Loading school needs...</p>
      </div>

      <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code </th>
          <td mat-cell *matCellDef="let need"> {{ need.code }} </td>
        </ng-container>

        <ng-container matColumnDef="engaged">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let need">
            <button mat-icon-button
                    (click)="view(need)"
                    *ngIf="need.engagements && need.engagements.length > 0"
                    matTooltip="Engage"
                    [matBadge]="need.engagements.length > 1 ? need.engagements.length : null"
                    matBadgeColor="primary"
                    matBadgeSize="medium">
              <mat-icon>handshake</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> School Year </th>
          <td mat-cell *matCellDef="let need"> {{ need.schoolYear }} </td>
        </ng-container>

        <ng-container matColumnDef="specificContribution">
          <th mat-header-cell *matHeaderCellDef> Specific Contribution </th>
          <td mat-cell *matCellDef="let need"> {{ need.specificContribution }} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let need"> {{ need.quantity | number: '1.0-2' }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let need"> {{ need.estimatedCost | currency: 'PHP' }} </td>
        </ng-container>

        <ng-container matColumnDef="beneficiaryStudents">
          <th mat-header-cell *matHeaderCellDef class="narrow-column"> No. of Beneficiary Students </th>
          <td mat-cell *matCellDef="let need" class="narrow-column"> {{ need.studentBeneficiaries | number: '1.0-2' }} </td>
        </ng-container>

        <ng-container matColumnDef="beneficiaryPersonnel">
          <th mat-header-cell *matHeaderCellDef> No. of Beneficiary Personnel </th>
          <td mat-cell *matCellDef="let need"> {{ need.personnelBeneficiaries | number: '1.0-2' }} </td>
        </ng-container>

        <ng-container matColumnDef="implementationStatus">
          <th mat-header-cell *matHeaderCellDef> Status of Implementation </th>
          <td mat-cell *matCellDef="let need">
            <span *ngIf="getEngagementStatus(need) === 'Looking for partner'"
                  class="status-badge looking-for-partner">
              <mat-icon>search</mat-icon>
              Looking for partner
            </span>
            <span *ngIf="getEngagementStatus(need) === 'Completed'"
                  class="status-badge completed">
              <mat-icon>check_circle</mat-icon>
              Completed
            </span>
            <span *ngIf="getEngagementStatus(need) !== 'Looking for partner' && getEngagementStatus(need) !== 'Completed'"
                  class="status-badge in-progress">
              <mat-icon>schedule</mat-icon>
              {{ getEngagementStatus(need) }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let need" style="white-space: nowrap;">
            <button mat-icon-button (click)="navigateToEngage(need.code)" matTooltip="Engage">
              <mat-icon>person</mat-icon>
            </button>
            <button class="ellipsis-button" mat-icon-button [matMenuTriggerFor]="actionMenu" matTooltip="More Actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="view(need)">
                <mat-icon>visibility</mat-icon> View
              </button>
              <button mat-menu-item (click)="edit(need)">
                <mat-icon>edit</mat-icon> Edit
              </button>
              <button mat-menu-item (click)="delete(need)" class="delete-menu-item">
                <mat-icon>delete</mat-icon> Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <mat-paginator *ngIf="!isLoading" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25]"
                   (page)="onPageChange($event)">
    </mat-paginator>
    </div>
  </div>
</mat-card>
