.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 600px;
  border: 2px solid green;
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

mat-card-title {
  text-align: center;
  color: green;
  margin-bottom: 20px;
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

button {
  background-color: green;
  color: white;
  width: 40%;
  margin-top: 20px;
}

button:hover {
  background-color: darkgreen;
  color: white;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-group button {
  width: 100%;
  margin-bottom: 10px;
}

.button-group button:last-child {
  margin-bottom: 0;
}

h3 {
  margin-top: 20px;
  color: green;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid green;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.file-upload {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  margin: 10px 0; 
}

.custom-file-upload {
  display: block;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
  width: 100%;
}

input[type="file"] {
  display: inline-block; 
  margin-top: 5px; 
  padding: 10px; 
  border: 1px solid green;
  border-radius: 4px; 
  color: green; 
  cursor: pointer; 
}

button {
  width: 100%;
  margin-top: 10px;
}

.school-id-display {
  margin: 10px 0;
  font-size: 16px;
  color: black;
}

@media (max-width: 600px) {
  .upload-section {
    padding: 10px;
  }

  .custom-file-upload {
    padding: 8px 15px;
  }
}

@media (max-width: 600px) {
  .form-card {
    padding: 10px;
  }

  mat-card {
    padding: 10px;
  }
}