<div class="form-card">
  <mat-card>
    <mat-card-title class="title">Edit Profile Information</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onUpdate()" [formGroup]="profileForm">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Region</mat-label>
            <input formControlName="region" matInput readonly>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Division</mat-label>
            <input formControlName="division" matInput readonly>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>District / Cluster</mat-label>
            <mat-select formControlName="districtOrCluster" required>
              <mat-option *ngFor="let cluster of clusters" [value]="cluster">
                {{ cluster }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>School / Learning Center Name</mat-label>
            <input formControlName="schoolName" matInput required>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>School ID</mat-label>
            <input formControlName="schoolId" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>School Offering</mat-label>
            <mat-select formControlName="schoolOffering" required>
              <mat-option *ngFor="let offering of schoolOfferings" [value]="offering">
                {{ offering }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Name of Accountable Person</mat-label>
            <input formControlName="accountablePerson" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Designation</mat-label>
            <input formControlName="designation" matInput required>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Contact Number</mat-label>
            <input formControlName="contactNumber" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Official Email Address</mat-label>
            <input formControlName="officialEmailAddress" matInput required type="email">
          </mat-form-field>
        </div>

          <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Location (Input The Coordinates)</mat-label>
            <input formControlName="location" matInput required>
          </mat-form-field>
          <small class="comment">"Note: Please provide the coordinates (e.g., 6.089640, 125.099024) instead of the address.
             This information will be visible to stakeholders, allowing them to see the school's actual location on Google Maps."</small>
        </div>

        <div class="button-group">
          <button color="primary" mat-raised-button type="submit">Update Profile</button>
          <button (click)="toggleUploadSection()" color="green" disabled mat-raised-button>
            <mat-icon>cloud_download</mat-icon>
            Upload School Profile
          </button>
        </div>
      </form>

      <!--upload school profile section-->
      <div *ngIf="showUploadSection" class="upload-section">
        <h3>Upload School Profile</h3>
        <div class="school-id-display">
          <mat-label>School ID:</mat-label>
          <span>{{ schoolId }}</span>
        </div>
        <div class="file-upload">
          <label class="custom-file-upload" for="file-upload">
            Select school profile in MSWord or PDF format (doc, docx, pdf):
          </label>
          <input (change)="onFileSelected($event)" id="file-upload" type="file"/>
        </div>

        <button (click)="onUpload()" color="primary" mat-raised-button>Upload School Profile</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
