<div class="container">
  <div class="header" *ngIf="schoolName">
    <mat-icon class="school-icon">school</mat-icon>
    <span class="school-name">{{ schoolName | uppercase }}</span>
  </div>

  <div class="content-wrapper">
    <div class="form-container">
      <mat-card-title>Edit School Need</mat-card-title>
      
      <div *ngIf="isLoading" class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Loading school need...</p>
      </div>

      <form [formGroup]="schoolNeedsForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <mat-form-field appearance="fill">
          <mat-label>Contribution Type</mat-label>
          <input matInput
                 #contributionTypeInput
                 formControlName="contributionType"
                 [matAutocomplete]="contributionTypeAuto"
                 (input)="filterContributionTypes(contributionTypeInput.value); onContributionTypeInput(contributionTypeInput.value)">
          <mat-autocomplete #contributionTypeAuto="matAutocomplete" (optionSelected)="onContributionTypeChange($event.option.value)">
            <mat-option *ngFor="let option of filteredContributionTypes" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="schoolNeedsForm.get('contributionType')?.invalid && schoolNeedsForm.get('contributionType')?.touched">
            Contribution Type is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Specific Contribution</mat-label>
          <input matInput
                 #specificContributionInput
                 formControlName="specificContribution"
                 [matAutocomplete]="specificContributionAuto"
                 (input)="filterSpecificContributions(specificContributionInput.value)">
          <mat-autocomplete #specificContributionAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredSpecificContributions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="schoolNeedsForm.get('specificContribution')?.invalid && schoolNeedsForm.get('specificContribution')?.touched">
            Specific Contribution is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>School Year for the Project</mat-label>
          <input matInput formControlName="schoolYear" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Project Name</mat-label>
          <mat-select formControlName="projectName">
            <mat-option *ngFor="let project of projectsData" [value]="project._id">{{ project.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="schoolNeedsForm.get('projectName')?.invalid && schoolNeedsForm.get('projectName')?.touched">
            Project Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Intermediate Outcome (Pillars)</mat-label>
          <input matInput formControlName="intermediateOutcome" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quantity Needed</mat-label>
          <input matInput formControlName="quantityNeeded" type="number">
          <mat-error *ngIf="schoolNeedsForm.get('quantityNeeded')?.invalid && schoolNeedsForm.get('quantityNeeded')?.touched">
            <span *ngIf="schoolNeedsForm.get('quantityNeeded')?.errors?.['required']">Quantity is required</span>
            <span *ngIf="schoolNeedsForm.get('quantityNeeded')?.errors?.['min']">Quantity must be at least 1</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Unit (Box, pieces, sack, roll etc.)</mat-label>
          <mat-select formControlName="unit" (selectionChange)="onUnitChange($event.value)">
            <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
          <mat-error *ngIf="schoolNeedsForm.get('unit')?.invalid && schoolNeedsForm.get('unit')?.touched">
            Unit is required
          </mat-error>
        </mat-form-field>

        <div *ngIf="isOtherSelected">
          <mat-form-field appearance="fill">
            <mat-label>Please specify unit</mat-label>
            <input matInput formControlName="otherUnit" />
            <mat-error *ngIf="schoolNeedsForm.get('otherUnit')?.invalid && schoolNeedsForm.get('otherUnit')?.touched">
              Please specify the unit
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Estimated Cost(<span style="color: red;"> don't put comma,peso sign or letters</span>)</mat-label>
          <input matInput formControlName="estimatedCost" type="number">
          <mat-error *ngIf="schoolNeedsForm.get('estimatedCost')?.invalid && schoolNeedsForm.get('estimatedCost')?.touched">
            <span *ngIf="schoolNeedsForm.get('estimatedCost')?.errors?.['required']">Estimated Cost is required</span>
            <span *ngIf="schoolNeedsForm.get('estimatedCost')?.errors?.['min']">Estimated Cost must be 0 or greater</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>No. of Beneficiary Students</mat-label>
          <input matInput formControlName="beneficiaryStudents" type="number" min="0">
          <mat-error *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.invalid && schoolNeedsForm.get('beneficiaryStudents')?.touched">
            <span *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.errors?.['required']">Number of Beneficiary Students is required</span>
            <span *ngIf="schoolNeedsForm.get('beneficiaryStudents')?.errors?.['min']">Number must be 0 or greater</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>No. of Beneficiary Personnel</mat-label>
          <input matInput formControlName="beneficiaryPersonnel" type="number">
          <mat-error *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.invalid && schoolNeedsForm.get('beneficiaryPersonnel')?.touched">
            <span *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.errors?.['required']">Number of Beneficiary Personnel is required</span>
            <span *ngIf="schoolNeedsForm.get('beneficiaryPersonnel')?.errors?.['min']">Number must be 0 or greater</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Target Date of Implementation</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="targetDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="schoolNeedsForm.get('targetDate')?.invalid && schoolNeedsForm.get('targetDate')?.touched">
            Target Date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description / Other Info</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="schoolNeedsForm.get('description')?.invalid && schoolNeedsForm.get('description')?.touched">
            Description must be 500 characters or less
          </mat-error>
        </mat-form-field>

        <!-- Existing Images Display -->
        <div *ngIf="hasExistingImages" class="existing-images-section">
          <h4>Existing Images</h4>
          <div class="existing-images-container">
            <div *ngFor="let image of existingImages; let i = index" class="existing-image-box">
              <img [src]="image.thumbnailUrl" [alt]="schoolNeed?.description" class="existing-image" />
              <button mat-icon-button (click)="removeExistingImage(i)" class="remove-existing-image-btn">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="file-upload">
          <button mat-raised-button type="button" (click)="fileInput.click()" [disabled]="totalImageCount >= 5">
            <mat-icon>attach_file</mat-icon>
            Attach Additional Images ({{totalImageCount}}/5)
          </button>
          <input #fileInput type="file" accept="image/*" multiple (change)="onFileSelected($event)" hidden />
        </div>

        <div class="preview-container">
          <div *ngFor="let img of previewImages; let i = index" class="preview-box">
            <img [src]="img.dataUrl" alt="remove" />
            <button mat-icon-button (click)="removeImage(i)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-progress-bar *ngIf="img.uploading" mode="determinate" [value]="img.progress"></mat-progress-bar>
          </div>
        </div>

        <div class="button-section">
          <mat-progress-bar *ngIf="isSaving" mode="indeterminate" class="save-progress-bar"></mat-progress-bar>
          <div class="button-group">
            <button mat-raised-button type="button" (click)="onCancel()" [disabled]="isSaving">
              <mat-icon>cancel</mat-icon> CANCEL
            </button>
            <button mat-raised-button type="button" (click)="onSubmit()" [disabled]="isSaving">
              <mat-icon>save</mat-icon> {{ isSaving ? 'UPDATING...' : 'UPDATE' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>