form{
  border: 2px solid;
  color: green;

}
.forgot-password-title {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 16px; 
}
.forgot-password-title {
    font-family: 'Roboto', sans-serif; 
    color: green;
  }
  
  .forgot-password-description {
    font-family: 'Roboto', sans-serif; 
  }
