<nav>
  <!-- Mobile Menu Toggle Button -->
  <button (click)="toggleMenu()" class="menu-toggle" aria-label="Toggle menu">
    {{ isMenuOpen ? 'Close' : 'Menu' }}
  </button>

  <ul class="nav-list" [class.open]="isMenuOpen">
    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>

    <!-- Stakeholder Menus -->
    <ng-container *ngIf="userActiveRole === userType.StakeHolder">
      <li>
        <button mat-button [matMenuTriggerFor]="stakeholderFindMenu" class="menu-trigger">Find School/Office</button>
        <mat-menu #stakeholderFindMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="stakeholderSchoolSubmenu">School</button>
          <mat-menu #stakeholderSchoolSubmenu="matMenu">
            <button mat-menu-item [routerLink]="['/stakeholder/all-schools']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/stakeholder/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>
           <!-- Office Menu for Stakeholders Account-->
          <button mat-menu-item [matMenuTriggerFor]="guestOfficeSubmenu">Office</button>
      <mat-menu #guestOfficeSubmenu="matMenu">
         <button mat-menu-item [matMenuTriggerFor]="guestCurriculumImplementationDivisionSubmenu">Curriculum Implementation Division</button>
      <mat-menu #guestCurriculumImplementationDivisionSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Araling Panlipunan</button>
        <button mat-menu-item (click)="closeMenu()">English</button>
        <button mat-menu-item (click)="closeMenu()">Math</button>
        <button mat-menu-item (click)="closeMenu()">MAPEH</button>
        <button mat-menu-item (click)="closeMenu()">Pilipino</button>
        <button mat-menu-item (click)="closeMenu()">Science</button>
        <button mat-menu-item (click)="closeMenu()">Learning Resource Management Section</button>
        <button mat-menu-item (click)="closeMenu()">District Instructional Supervision</button>
      </mat-menu>

         <button mat-menu-item [matMenuTriggerFor]="guestOfficeOfTheSchoolDivisionSuperintendentSubmenu">Office of the School Division Superintendent</button>
      <mat-menu #guestOfficeOfTheSchoolDivisionSuperintendentSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Accounting</button>
        <button mat-menu-item (click)="closeMenu()">Budget</button>
        <button mat-menu-item (click)="closeMenu()">Cash</button>
        <button mat-menu-item (click)="closeMenu()">General Services</button>
        <button mat-menu-item (click)="closeMenu()">ICT</button>
        <button mat-menu-item (click)="closeMenu()">Legal</button>
        <button mat-menu-item (click)="closeMenu()">Personnel</button>
        <button mat-menu-item (click)="closeMenu()">Property & Supply</button>
        <button mat-menu-item (click)="closeMenu()">Records</button>
      </mat-menu>

        <button mat-menu-item [matMenuTriggerFor]="guestSchoolGovernanceAndOperationsDivisionSubmenu">School Governance & Operations Division</button>
      <mat-menu #guestSchoolGovernanceAndOperationsDivisionSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Disasters Risk Reduction Management</button>
        <button mat-menu-item (click)="closeMenu()">Education Facilities Section</button>
        <button mat-menu-item (click)="closeMenu()">Human Resource Development Section</button>
        <button mat-menu-item (click)="closeMenu()">Planning & Research Section</button>
        <button mat-menu-item (click)="closeMenu()">Programs & Projects</button>
        <button mat-menu-item (click)="closeMenu()">School Health Section</button>
        <button mat-menu-item (click)="closeMenu()">School Management Monitoring & Evaluation Section</button>
        <button mat-menu-item (click)="closeMenu()">Social Mobilization & Networking</button>
        <button mat-menu-item (click)="closeMenu()">Youth Formation Development</button>
      </mat-menu>
      </mat-menu>
      </mat-menu>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About  Us </a></li>
      <li><a routerLink="stakeholder/my-contribution" (click)="closeMenu()">My Contribution</a></li>
      <li><a routerLink="/stakeholder/generated-resources" (click)="closeMenu()">Generated Resources</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="stakeholderSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #stakeholderSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
             target="_blank" rel="noopener noreferrer">Partners Support</a>
        </mat-menu>
      </li>
    </ng-container>

    <!-- School Admin Menus -->
    <ng-container *ngIf="userActiveRole === userType.SchoolAdmin">
      <li>
        <button mat-button [matMenuTriggerFor]="schoolAdminSchoolNeedsMenu" class="menu-trigger">School Needs</button>
        <mat-menu #schoolAdminSchoolNeedsMenu="matMenu">
          <button mat-menu-item [routerLink]="['/school-admin/list-of-school-needs']" (click)="closeMenu()">List of School Needs</button>
          <button mat-menu-item disabled>Senior High School</button>
        </mat-menu>
      </li>

      <li><a routerLink="/school-admin/aip" (click)="closeMenu()">AIP</a></li>
      
      <li>
        <button mat-button [matMenuTriggerFor]="schoolAdminDpdsMenu" class="menu-trigger">DPDS</button>
        <mat-menu #schoolAdminDpdsMenu="matMenu">
            <a mat-menu-item href="https://partnershipsdatabase.deped.gov.ph/" target="_blank" rel="noopener noreferrer"(click)="closeMenu()">DPDS Link</a>
            <button mat-menu-item [routerLink]="['/school-admin/DpdsData']" (click)="closeMenu()">DPDS Data</button>
        </mat-menu>
      </li>

      <li><a routerLink="/school-admin/quick-count" (click)="closeMenu()" >Quick Count</a></li>
      <li><a routerLink="/school-admin/reports" (click)="closeMenu()">Reports</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="schoolAdminSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #schoolAdminSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/spfp-support/home"
             target="_blank" rel="noopener noreferrer">SPFP Support</a>
        </mat-menu>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>

    </ng-container>

    <!-- Division Admin Menus -->
    <ng-container *ngIf="userActiveRole === 'divisionAdmin'">
      <li>
          <button mat-button [matMenuTriggerFor]="stakeholderSchoolMenu" class="menu-trigger">Schools</button>
          <mat-menu #stakeholderSchoolMenu="matMenu">
            <button mat-menu-item [routerLink]="['/division-admin/all-schools']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/division-admin/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="divisionAdminSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #divisionAdminSupportMenu="matMenu">
          <button mat-menu-item [routerLink]="['/division-admin/partners-support']" (click)="closeMenu()">Partner Support</button>
        </mat-menu>
      </li>
      <li><a routerLink="/division-admin/reports" (click)="closeMenu()">Reports</a></li>
      <li><a routerLink="/division-admin/generated-resources" (click)="closeMenu()">Generated Resources</a></li>
      <li>
        <button mat-button [matMenuTriggerFor]="divisionAdminAdministrationMenu" class="menu-trigger">Administration</button>
        <mat-menu #divisionAdminAdministrationMenu="matMenu">
          <button mat-menu-item [routerLink]="['/division-admin/add-district']" (click)="closeMenu()">Add District</button>
          <button mat-menu-item [routerLink]="['/division-admin/manage-users']" (click)="closeMenu()">Manage Users</button>
          <button mat-menu-item [routerLink]="['/division-admin/permission-levels']" (click)="closeMenu()">Permission Levels</button>
          <button mat-menu-item [routerLink]="['/division-admin/open-registration']" (click)="closeMenu()">Open Registration</button>
          <button mat-menu-item [routerLink]="['/division-admin/close-registration']" (click)="closeMenu()">Close Registration</button>
        </mat-menu>
      </li>
    </ng-container>

    <!-- Guest Menus - for users who are not logged in -->
    <ng-container *ngIf="!isLoggedIn()">
      <li>
        <button mat-button [matMenuTriggerFor]="guestFindMenu" class="menu-trigger">Find School/Office</button>
        <mat-menu #guestFindMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="guestSchoolSubmenu">School</button>
          <mat-menu #guestSchoolSubmenu="matMenu">
            <button mat-menu-item [routerLink]="['/guest/all-school']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/guest/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>
           <!-- Office Menu for guest-->
          <button mat-menu-item [matMenuTriggerFor]="guestOfficeSubmenu">Office</button>
      <mat-menu #guestOfficeSubmenu="matMenu">
         <button mat-menu-item [matMenuTriggerFor]="guestCurriculumImplementationDivisionSubmenu">Curriculum Implementation Division</button>
      <mat-menu #guestCurriculumImplementationDivisionSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Araling Panlipunan</button>
        <button mat-menu-item (click)="closeMenu()">English</button>
        <button mat-menu-item (click)="closeMenu()">Math</button>
        <button mat-menu-item (click)="closeMenu()">MAPEH</button>
        <button mat-menu-item (click)="closeMenu()">Pilipino</button>
        <button mat-menu-item (click)="closeMenu()">Science</button>
        <button mat-menu-item (click)="closeMenu()">Learning Resource Management Section</button>
        <button mat-menu-item (click)="closeMenu()">District Instructional Supervision</button>
      </mat-menu>

         <button mat-menu-item [matMenuTriggerFor]="guestOfficeOfTheSchoolDivisionSuperintendentSubmenu">Office of the School Division Superintendent</button>
      <mat-menu #guestOfficeOfTheSchoolDivisionSuperintendentSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Accounting</button>
        <button mat-menu-item (click)="closeMenu()">Budget</button>
        <button mat-menu-item (click)="closeMenu()">Cash</button>
        <button mat-menu-item (click)="closeMenu()">General Services</button>
        <button mat-menu-item (click)="closeMenu()">ICT</button>
        <button mat-menu-item (click)="closeMenu()">Legal</button>
        <button mat-menu-item (click)="closeMenu()">Personnel</button>
        <button mat-menu-item (click)="closeMenu()">Property & Supply</button>
        <button mat-menu-item (click)="closeMenu()">Records</button>
      </mat-menu>

        <button mat-menu-item [matMenuTriggerFor]="guestSchoolGovernanceAndOperationsDivisionSubmenu">School Governance & Operations Division</button>
      <mat-menu #guestSchoolGovernanceAndOperationsDivisionSubmenu="matMenu">
        <button mat-menu-item (click)="closeMenu()">Disasters Risk Reduction Management</button>
        <button mat-menu-item (click)="closeMenu()">Education Facilities Section</button>
        <button mat-menu-item (click)="closeMenu()">Human Resource Development Section</button>
        <button mat-menu-item (click)="closeMenu()">Planning & Research Section</button>
        <button mat-menu-item (click)="closeMenu()">Programs & Projects</button>
        <button mat-menu-item (click)="closeMenu()">School Health Section</button>
        <button mat-menu-item (click)="closeMenu()">School Management Monitoring & Evaluation Section</button>
        <button mat-menu-item (click)="closeMenu()">Social Mobilization & Networking</button>
        <button mat-menu-item (click)="closeMenu()">Youth Formation Development</button>
      </mat-menu>
      </mat-menu>
      </mat-menu>
      </li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="guestSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #guestSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
             target="_blank" rel="noopener noreferrer">Partners Support</a>
        </mat-menu>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>
    </ng-container>
  </ul>

  <!-- Profile section -->
  <div class="profile">
    <ng-container *ngIf="isLoggedIn(); else loginButton">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="avatar-button">
        <div class="avatar">
          <img *ngIf="getProfileImageUrl() && !profileImageError"
               [src]="getProfileImageUrl()"
               alt="Profile"
               class="avatar-image"
               (error)="onImageError($event)">
          <span class="avatar-initials" [style.display]="hasProfileImage() ? 'none' : 'flex'">{{ getUserInitials() }}</span>
        </div>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
        <button mat-menu-item [routerLink]="['/profile']" *ngIf="userActiveRole === UserType.SchoolAdmin">Edit Profile</button>
        <button mat-menu-item *ngIf="userRoles.length > 1" (click)="openSwitchRoleDialog()">Switch Role</button>
        <button mat-menu-item class="logout-menu-item" (click)="logout()" routerLink="/sign-in">Logout</button>
      </mat-menu>
    </ng-container>
    <ng-template #loginButton>
      <button mat-raised-button color="primary" class="login-button" routerLink="/sign-in"
              *ngIf="shouldShowLoginButton()">
        Login
      </button>
    </ng-template>
  </div>
</nav>
