/* Navigation styles */
nav {
  background-color: rgba(245, 245, 245, 0.633);
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin: 0 0.5rem; 
}

nav a {
  text-decoration: none; 
  color: #2e7d32; 
  font-size: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 4px; 
}

nav a:hover {
  background-color: rgba(46, 125, 50, 0.3); 
  transform: translateY(-2px); 
}

/* Dropdown menu styles */
nav ul ul {
  display: none; 
  position: absolute; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  margin-top: 0.5rem; 
  z-index: 10; 
}

nav li:hover > ul {
  display: block; 
}

nav ul ul li {
  margin: 0; 
}

nav ul ul a {
  color: #333; 
  padding: 0.5rem 1rem; 
}

nav ul ul a:hover {
  background-color: rgba(171, 243, 171, 0.46); 
}

/* Profile section styles */
.profile {
  display: flex;
  align-items: center; 
}

.profile mat-icon {
  color: darkblue; 
  font-size: 25px; 
  margin-right: 4px; 
}

.profile a {
  color: black; 
  margin: 0;
  font-weight: bold; 
  cursor: pointer;
}

.logout-button {
  margin-left: 15px; 
  background-color: red; 
  color: white !important; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.logout-button:hover {
  background-color: darkred; 
  font-size: large;
}

.mat-menu-item {
  font-weight: bold; 
}

/* Hamburger menu styles */
.hamburger {
  display: none; 
  cursor: pointer;
  margin: 10px;
}

/* Mobile styles */
@media (max-width: 825px) {
  .hamburger {
    display: block; /* Show hamburger on mobile */
  }

  .nav-list {
    display: none; /* Hide menu by default on mobile */
    flex-direction: column; 
    background: linear-gradient(to bottom, #ffffff, #f0f0f0); /* Gradient background */
    position: absolute; 
    top: 60px; 
    left: 0;
    right: 0;
    z-index: 1000; 
    padding: 10px; 
  }

  .nav-list.open {
    display: flex; /* Show menu when open */
  }
  ul li{
    font-size: 1rem;
  }
}