<nav class="nav-compact">
  <!-- Mobile Menu Toggle Button -->
  <button (click)="toggleMenu()" class="menu-toggle" aria-label="Toggle menu">
    {{ isMenuOpen ? 'Close' : 'Menu' }}
  </button>

  <ul class="nav-list" [class.open]="isMenuOpen">
    <!-- Start (Leading) Menu Items -->
    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>

    <!-- Middle (Center) Menu Items -->
    <!-- Stakeholder Menus -->
    <ng-container *ngIf="userType.StakeHolder === userActiveRole">
      <li>
        <button mat-button [matMenuTriggerFor]="stakeholderFindMenu" class="menu-trigger">Find School/Office</button>
        <mat-menu #stakeholderFindMenu="matMenu">
          <button mat-menu-item
            #schoolTrigger="matMenuTrigger"
            [matMenuTriggerFor]="stakeholderSchoolSubmenu"
            (mouseenter)="schoolTrigger.openMenu()">
            School
          </button>
          <mat-menu #stakeholderSchoolSubmenu="matMenu" [overlapTrigger]="true">
            <button mat-menu-item [routerLink]="['/stakeholder/all-schools']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/stakeholder/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>

          <!-- Office Menu for Stakeholders Account (dynamic from GET /offices?includePpaPlanCount=true) -->
          <button mat-menu-item
            #officeTrigger="matMenuTrigger"
            [matMenuTriggerFor]="stakeholderOfficeSubmenu"
            (mouseenter)="officeTrigger.openMenu()">
            Office
          </button>
          <mat-menu #stakeholderOfficeSubmenu="matMenu" [overlapTrigger]="true">
            <app-office-division-submenu
              *ngFor="let division of officeDivisionsWithOffices"
              [division]="division"
              [offices]="getOfficesForDivision(division)"
              (divisionHover)="onDivisionHover($event)"
              (menuItemClick)="closeMenu()" />
          </mat-menu>
        </mat-menu>
      </li>
      <li><a routerLink="stakeholder/my-contribution" (click)="closeMenu()">My Contribution</a></li>
      <li><a routerLink="/stakeholder/generated-resources" (click)="closeMenu()">Generated Resources</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="stakeholderSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #stakeholderSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
             target="_blank" rel="noopener noreferrer">Partners Support</a>
        </mat-menu>
      </li>
    </ng-container>

    <!-- School Admin Menus -->
    <ng-container *ngIf="userType.SchoolAdmin === userActiveRole">
      <li>
        <button mat-button [matMenuTriggerFor]="schoolAdminSchoolNeedsMenu" class="menu-trigger">School Needs</button>
        <mat-menu #schoolAdminSchoolNeedsMenu="matMenu">
          <button mat-menu-item [routerLink]="['/school-admin/list-of-school-needs']" (click)="closeMenu()">List of School Needs</button>
          <button mat-menu-item disabled>Senior High School</button>
        </mat-menu>
      </li>

     <li (click)="handleAipClick()">
      <a href="javascript:void(0)">AIP</a>
     </li>

      <li>
        <button mat-button [matMenuTriggerFor]="schoolAdminDpdsMenu" class="menu-trigger">DPDS</button>
        <mat-menu #schoolAdminDpdsMenu="matMenu">
            <a mat-menu-item href="https://partnershipsdatabase.deped.gov.ph/" target="_blank" rel="noopener noreferrer" (click)="closeMenu()">DPDS Link</a>
            <button mat-menu-item [routerLink]="['/school-admin/DpdsData']" (click)="closeMenu()">DPDS Data</button>
        </mat-menu>
      </li>

      <li><a routerLink="/school-admin/quick-count" (click)="closeMenu()" >Quick Count</a></li>
      <li>
        <button mat-button [matMenuTriggerFor]="activitiesMenu" class="menu-trigger">Activities</button>
        <mat-menu #activitiesMenu="matMenu">
          <button mat-menu-item [routerLink]="['/school-admin/activities']" (click)="closeMenu()">Manage Activities</button>
        </mat-menu>
      </li>
      <li><a routerLink="/school-admin/reports" (click)="closeMenu()">Reports</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="schoolAdminSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #schoolAdminSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/spfp-support/home"
             target="_blank" rel="noopener noreferrer">SPFP Support</a>
        </mat-menu>
      </li>

    </ng-container>

    <!-- Division Admin Menus -->
    <ng-container *ngIf="UserType.DivisionAdmin === userActiveRole">
      <li>
          <button mat-button [matMenuTriggerFor]="divisionAdminSchoolsMenu" class="menu-trigger">Find School/Office</button>
          <mat-menu #divisionAdminSchoolsMenu="matMenu">
            <button mat-menu-item [routerLink]="['/division-admin/all-schools']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/division-admin/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>
      </li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="divisionAdminSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #divisionAdminSupportMenu="matMenu">
          <button mat-menu-item [routerLink]="['/division-admin/partners-support']" (click)="closeMenu()">Partner Support</button>
        </mat-menu>
      </li>
      <li><a routerLink="/division-admin/reports" (click)="closeMenu()">Reports</a></li>
      <li><a routerLink="/division-admin/generated-resources" (click)="closeMenu()">Generated Resources</a></li>
      <li>
        <button mat-button [matMenuTriggerFor]="divisionAdminAdministrationMenu" class="menu-trigger">Administration</button>
        <mat-menu #divisionAdminAdministrationMenu="matMenu">
          <button mat-menu-item [routerLink]="['/division-admin/manage-district']" (click)="closeMenu()">Manage District</button>
          <button mat-menu-item [routerLink]="['/division-admin/manage-users']" (click)="closeMenu()">Manage Users</button>
          <button mat-menu-item [routerLink]="['/division-admin/manage-schools']" (click)="closeMenu()">Manage Schools</button>
          <button mat-menu-item [routerLink]="['/division-admin/activities']" (click)="closeMenu()">Activities</button>
        </mat-menu>
      </li>
    </ng-container>

    <!-- Program Holder Menus -->
    <ng-container *ngIf="UserType.ProgramHolder === userActiveRole">
      <li><a routerLink="/program-holder/ppa-plans">PPA Plans</a></li>
      <li><a routerLink="/program-holder/calendar">Calendar</a></li>
    </ng-container>

    <!-- Office Admin Menus (OfficeAdmin and OfficeAdminAssistant share same navigation) -->
    <ng-container *ngIf="UserType.OfficeAdmin === userActiveRole || UserType.OfficeAdminAssistant === userActiveRole">
      <li><a routerLink="/office-admin/ppa-plans">PPA Plans</a></li>
      <li><a routerLink="/office-admin/calendar">Calendar</a></li>
      <li>
        <button mat-button [matMenuTriggerFor]="officeAdminOfficeMenu" class="menu-trigger">Administration</button>
        <mat-menu #officeAdminOfficeMenu="matMenu">
          <button mat-menu-item [routerLink]="['/office-admin/offices']" (click)="closeMenu()">Manage Office</button>
          <button mat-menu-item [routerLink]="['/office-admin/manage-fund-source']" (click)="closeMenu()">Manage Fund Source</button>
        </mat-menu>
      </li>
    </ng-container>

    <ng-container *ngIf="UserType.SystemAdmin === userActiveRole">
      <li><a routerLink="/system-admin/manage-users">Users</a></li>
    </ng-container>

    <!-- Guest Menus - for users who are not logged in (same structure as stakeholder) -->
    <ng-container *ngIf="!isLoggedIn()">
      <li>
        <button mat-button [matMenuTriggerFor]="guestFindMenu" class="menu-trigger">Find School/Office</button>
        <mat-menu #guestFindMenu="matMenu">
          <button mat-menu-item
            #guestSchoolTrigger="matMenuTrigger"
            [matMenuTriggerFor]="guestSchoolSubmenu"
            (mouseenter)="guestSchoolTrigger.openMenu()">
            School
          </button>
          <mat-menu #guestSchoolSubmenu="matMenu" [overlapTrigger]="true">
            <button mat-menu-item [routerLink]="['/guest/all-school']" (click)="closeMenu()">All</button>
            <button mat-menu-item [routerLink]="['/guest/districts']" (click)="closeMenu()">By District</button>
          </mat-menu>

          <!-- Office Menu for guest (dynamic from GET /offices?includePpaPlanCount=true) -->
          <button mat-menu-item
            #guestOfficeTrigger="matMenuTrigger"
            [matMenuTriggerFor]="guestOfficeSubmenu"
            (mouseenter)="guestOfficeTrigger.openMenu()">
            Office
          </button>
          <mat-menu #guestOfficeSubmenu="matMenu" [overlapTrigger]="true">
            <app-office-division-submenu
              *ngFor="let division of officeDivisionsWithOffices"
              [division]="division"
              [offices]="getOfficesForDivision(division)"
              [officeTableBasePath]="'/stakeholder'"
              (divisionHover)="onDivisionHover($event)"
              (menuItemClick)="closeMenu()" />
          </mat-menu>
        </mat-menu>
      </li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="guestSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #guestSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
             target="_blank" rel="noopener noreferrer">Partners Support</a>
        </mat-menu>
      </li>
    </ng-container>

    <!-- End (Lagging) Menu Items -->
    <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>
  </ul>

  <!-- Right-side wrapper: profile on top, text info (role indicator) below -->
  <div class="nav-right">
    <div class="profile">
      <ng-container *ngIf="isLoggedIn(); else loginButton">
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="avatar-button">
          <div class="avatar">
            <img *ngIf="getProfileImageUrl() && !profileImageError"
                 [src]="getProfileImageUrl()"
                 alt="Profile"
                 class="avatar-image"
                 (error)="onImageError($event)">
            <span class="avatar-initials" [style.display]="hasProfileImage() ? 'none' : 'flex'">{{ getUserInitials() }}</span>
          </div>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
          <button mat-menu-item [routerLink]="['/profile']" *ngIf="userActiveRole === UserType.SchoolAdmin">Edit Profile</button>
          <button mat-menu-item *ngIf="userRoles.length > 1" (click)="openSwitchRoleDialog()">Switch Role</button>
          <button mat-menu-item class="logout-menu-item" (click)="logout()" routerLink="/sign-in">Logout</button>
        </mat-menu>
      </ng-container>
      <ng-template #loginButton>
        <button mat-raised-button color="primary" class="login-button" routerLink="/sign-in"
                *ngIf="shouldShowLoginButton()">
          Login
        </button>
      </ng-template>
    </div>
    <div class="nav-info" *ngIf="isLoggedIn()">
      <span class="user-name">{{ getName() }}</span>
      <span class="nav-info-separator">•</span>
      <span class="role-indicator">
        <mat-icon class="role-icon">{{ activeRoleIcon }}</mat-icon>
        <span class="role-label">{{ activeRoleLabel }}</span>
      </span>
    </div>
  </div>
</nav>
