<nav>
  <!-- Mobile Menu Toggle Button -->
  <button (click)="toggleMenu()" class="menu-toggle" aria-label="Toggle menu">
    {{ isMenuOpen ? 'Close' : 'Menu' }}
  </button>

  <ul class="nav-list" [class.open]="isMenuOpen">
    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>

    <!-- Stakeholder Menus -->
    <ng-container *ngIf="userActiveRole === userType.StakeHolder">
      <li class="dropdown">
        <span tabindex="0" (click)="toggleDropdown()">Find School/Office</span>
        <ul class="dropdown-menu nav-list" [class.show]="dropdownVisible">
          <li class="submenu">
            <span tabindex="0" (click)="toggleSubmenu()">
              School
              <i class="fas fa-chevron-down" ></i>
            </span>
            <ul class="nested-dropdown" [class.show]="submenuVisible">
              <li><a class="custom-link" routerLink="/stakeholder/all-school" (click)="closeMenu()">All</a></li>
              <li><a class="custom-link" routerLink="/stakeholder/districts" (click)="closeMenu()">By District</a></li>
            </ul>
          </li>
          <li>
            <a routerLink="/stakeholder/offices" (click)="closeMenu()" class="disabled"
               style="pointer-events: none; color: #ccc; cursor: not-allowed;">Office</a>
          </li>
        </ul>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About  Us </a></li>
      <li><a routerLink="stakeholder/my-contribution" (click)="closeMenu()">My Contribution</a></li>
      <li><a routerLink="/stakeholder/generated-resources" (click)="closeMenu()">Generated Resources</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="stakeholderSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #stakeholderSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
             target="_blank" rel="noopener noreferrer">Partners Support</a>
        </mat-menu>
      </li>
    </ng-container>

    <!-- School Admin Menus -->
    <ng-container *ngIf="userActiveRole === userType.SchoolAdmin">
      <li class="dropdown">
        <span tabindex="0" (click)="toggleDropdown()">School Needs</span>
        <ul class="dropdown-menu nav-list" [class.show]="dropdownVisible">
          <li class="submenu">
          <li><a routerLink="/school-admin/list-of-school-needs" (click)="closeMenu()">List of School Needs</a></li>
          <li><a routerLink="/school-admin/senior-high-school" (click)="closeMenu()" class="disabled"
                 style="pointer-events: none; color: #ccc; cursor: not-allowed;">Senior High School</a></li>
        </ul>
      </li>

      <li><a routerLink="/school-admin/aip" (click)="closeMenu()">AIP</a></li>
      <li><a href="https://partnershipsdatabase.deped.gov.ph/" target="_blank" rel="noopener noreferrer"
             (click)="closeMenu()">DPDS</a></li>
      <li><a routerLink="/school-admin/quick-count" (click)="closeMenu()" class="disabled"
             style="pointer-events: none; color: #ccc; cursor: not-allowed;">Quick Count</a></li>
      <li><a routerLink="/school-admin/reports" (click)="closeMenu()" class="disabled"
             style="pointer-events: none; color: #ccc; cursor: not-allowed;">Reports</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <button mat-button [matMenuTriggerFor]="schoolAdminSupportMenu" class="menu-trigger">Support</button>
        <mat-menu #schoolAdminSupportMenu="matMenu">
          <a mat-menu-item href="https://sites.google.com/deped.gov.ph/spfp-support/home"
             target="_blank" rel="noopener noreferrer">SPFP Support</a>
        </mat-menu>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>

    </ng-container>

    <!-- Division Admin Menus -->
    <ng-container *ngIf="userActiveRole === 'divisionAdmin'">
      <li><a routerLink="/division-admin/about-us" (click)="closeMenu()">About Us</a></li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <span tabindex="0">Support</span>
        <ul>
          <li><a routerLink="/division-admin/partners-support" (click)="closeMenu()">Partner Support</a></li>
        </ul>
      </li>
      <li><a routerLink="/division-admin/reports" (click)="closeMenu()">Reports</a></li>
      <li>
        <span tabindex="0">Administration</span>
        <ul>
          <li><a routerLink="/division-admin/add-district" (click)="closeMenu()">Add District</a></li>
          <li><a routerLink="/division-admin/manage-users" (click)="closeMenu()">Manage Users</a></li>
          <li><a routerLink="/division-admin/permission-levels" (click)="closeMenu()">Permission Levels</a></li>
          <li><a routerLink="/division-admin/open-registration" (click)="closeMenu()">Open Registration</a></li>
          <li><a routerLink="/division-admin/close-registration" (click)="closeMenu()">Close Registration</a></li>
        </ul>
      </li>
    </ng-container>

    <!-- Guest Menus - for users who are not logged in -->
    <ng-container *ngIf="!isLoggedIn()">
      <li class="dropdown">
        <span tabindex="0" (click)="toggleDropdown()">Find School/Office</span>
        <ul class="dropdown-menu nav-list" [class.show]="dropdownVisible">
          <li class="submenu">
        <span tabindex="0" (click)="toggleSubmenu()">
        School <i class="fas fa-chevron-down"></i>
        </span>
            <ul class="nested-dropdown" [class.show]="submenuVisible">
              <li><a class="custom-link" routerLink="/guest/all-school" (click)="closeMenu()">All</a></li>
              <li><a class="custom-link" routerLink="/guest/districts" (click)="closeMenu()">By District</a></li>
            </ul>
          </li>
          <li>
            <a routerLink="/guest/offices" (click)="closeMenu()" class="disabled"
               style="pointer-events: none; color: #ccc; cursor: not-allowed;">Office</a>
          </li>
        </ul>
      </li>
      <li *ngIf="currentTenant === tenant.GENSAN">
        <span tabindex="0">Support</span>
        <ul>
          <li><a href="https://sites.google.com/deped.gov.ph/depedgensansmn/home"
                 target="_blank" rel="noopener noreferrer">Partners Support</a></li>
        </ul>
      </li>
      <li><a routerLink="about-us" (click)="closeMenu()">About Us</a></li>
    </ng-container>
  </ul>

  <!-- Profile section -->
  <div class="profile">
    <ng-container *ngIf="isLoggedIn(); else loginButton">
      <mat-icon aria-label="User profile">account_circle</mat-icon>
      <a mat-button [matMenuTriggerFor]="profileMenu">Profile</a>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
        <button mat-menu-item [routerLink]="['/profile']" *ngIf="userActiveRole === UserType.SchoolAdmin">Edit Profile</button>
        <button mat-menu-item *ngIf="userRoles.length > 1" (click)="openSwitchRoleDialog()">Switch Role</button>
      </mat-menu>
      <button mat-raised-button color="warn" class="logout-button" routerLink="/sign-in" (click)="logout()">
        Logout
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-raised-button color="primary" class="login-button" routerLink="/sign-in"
              *ngIf="shouldShowLoginButton()">
        Login
      </button>
    </ng-template>
  </div>
</nav>
