
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$sndsapp-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Only include the components that are actually used to reduce bundle size
:root {
  @include mat.core-theme($sndsapp-theme);
  @include mat.form-field-theme($sndsapp-theme);
  @include mat.input-theme($sndsapp-theme);
  @include mat.button-theme($sndsapp-theme);
  @include mat.card-theme($sndsapp-theme);
  @include mat.table-theme($sndsapp-theme);
  @include mat.icon-theme($sndsapp-theme);
  @include mat.menu-theme($sndsapp-theme);
  @include mat.tooltip-theme($sndsapp-theme);
  @include mat.paginator-theme($sndsapp-theme);
  @include mat.select-theme($sndsapp-theme);
  @include mat.datepicker-theme($sndsapp-theme);
  @include mat.autocomplete-theme($sndsapp-theme);
  @include mat.progress-bar-theme($sndsapp-theme);
  @include mat.snack-bar-theme($sndsapp-theme);
  @include mat.dialog-theme($sndsapp-theme);
  @include mat.sidenav-theme($sndsapp-theme);
  @include mat.tree-theme($sndsapp-theme);
  @include mat.badge-theme($sndsapp-theme);
  @include mat.radio-theme($sndsapp-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($sndsapp-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($sndsapp-theme);
