.table-section {
    margin-bottom: 20px;
}

.table-title {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
}

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 6px;
  gap: 10px;
}

.filter-field {
  width: 250px;
  min-width: 200px;
}

.filter-field ::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.filter-field ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white;
}

.date-range-filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.custom-date-range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear-button {
  margin-left: auto;
  padding: 10px;
  border: 1px solid rgb(2, 98, 2);
  border-radius: 8px;
  background-color: rgb(2, 98, 2);
  color: white;
  cursor: pointer;
}
.clear-button:hover {
  background-color: rgb(1, 70, 1);
  font-weight: bold;
}


.select-all-option {
  font-weight: bold;
  background-color: #f5f5f5;
}

.select-all-option:hover {
  background-color: #e0e0e0;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.title-school {
    background-color: #007bff; 
}
.title-contribution {
    background-color: #28a745; 
}

.title-partnership {
    background-color: #dc3545;
}

.toggle-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #e0a800;
}

.selected-row {
    background-color: lightgreen !important; 
    cursor: pointer;
}

.table-scroll {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    /* styles for tables */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th.mat-header-cell, td.mat-cell {
        padding: 8px;
        text-align: left;
    }

    .custom-paginator {
        font-size: 0.8rem; 
    }

    @media (max-width: 768px) {
        .filter-container {
            flex-direction: column;
        }

        .filter-field {
            width: 100%;
            margin-bottom: 16px;
        }

        .custom-paginator {
            font-size: 0.65rem; 
        }
    }