.container {
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
  }
  h4{
    font-size: medium;
  }
  .text-section {
    flex: 1; 
    margin-right: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
  }
  .text-section{
    border-color: green;
    background-color: rgba(255, 255, 255, 0.538);
    border-radius: 8px;

  }
  
  .tree-section {
    flex: 1; 
  }
  
 
  h2 {
    color: green; 
    font-size: 20px;
    margin-left: 15px;
  }
  
  ul {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
  }
  
  li {
    margin: 0 20px;
  }
  .mat-badge {
    margin-left: 5px; /* Space between text and badge */
    margin-bottom: 0;
    
  }
  
  span {
    cursor: pointer; 
  }
  .responsive-title{
    font-size: 2rem;
  }
  @media (max-width: 1024px) { /* Tablet */
    .container {
        flex-direction: column; 
        padding: 10px; 
    }

    .text-section {
        margin-right: 0; 
        margin-bottom: 20px; 
        width: 100%; 
    }

    .image-section img {
        width: 100%; 
        height: auto; 
    }
    .text-section h2{
      margin-top: 15px; 
      margin-bottom: 0; 
    }
    .text-section ul li{
      margin-right: 30px;
      justify-content: left;
    }
}

@media (max-width: 430px) { /* Mobile */
    h2 {
        font-size: 1em;
        margin: 0;        
        padding: 0;  
        justify-content: left;
    }

    .text-section {
        width: 100%; 
        margin-bottom: 20px; 
    }

    li {
        margin: 5px 0; 
    }
    p ul{
      align-items: center;
    }
  }
@media (max-width: 768px) {
  .responsive-title {
    font-size: 18px; 
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .responsive-title {
    font-size: 10px; 
    margin: 0;
    font-weight: bold;
  }
 
}
@media (min-width: 769px) {
  .responsive-title {
    font-size: 15px; 
    font-weight: bold;
  }
}