.change-password-container {
   display: flex;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh; 
  background-color: #f9f9f974; 
  padding-top: 50px; 
}

.change-password-form {
  background: rgba(255, 255, 255, 0.581); 
  padding: 15px;
  border-radius: 8px;
  border: 2px solid;
  border-color: green; 
  box-shadow: 0 4px 8px rgba(61, 200, 51, 0.1); 
  width: 400px; 
}

h2 {
  color: green; 
  text-align: center; 
  font-size: 20px;
}

.mat-form-field {
  width: 100%; 
}

.mat-input-element {
  color: green; 
}

.mat-form-field-appearance-fill .mat-form-field-fill {
  background-color: rgba(0, 255, 0, 0.1); 
}

.mat-form-field-appearance-fill .mat-form-field-outline {
  border-color: green; 
}

.mat-form-field-appearance-fill .mat-form-field-outline.mat-form-field-outline-thick {
  border-color: green; 
}
.custom-button {
  background-color: green; 
  color: white; 
  margin-left: 60px;
}

.custom-button:hover {
  background-color: darkgreen;
  color:#f9f9f9; 
}

/* Error messages */
.mat-error {
  color: red; 
}