<div class="change-password-container">
  <div class="change-password-form">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
        <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()">
          <mat-icon>{{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
          Current password is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
        <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
          <mat-icon>{{ hideNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
          New password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
          <mat-icon>{{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmPassword')?.touched">
          Passwords must match.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="custom-button" type="submit" [disabled]="changePasswordForm.invalid">
    Password Change
      </button>
    </form>
  </div>
</div>